@using SWP_CarService_Final.Models;
@using SWP_CarService_Final.Services;

@{
    ViewData["Title"] = "EditCustomer";
    CustomerAccountService customerAccount = new CustomerAccountService();
    Customer customer = customerAccount.GetCustomerByUsername(ViewBag.username);
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A New Team </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styleform.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <nav>
        <div class="icon-content">
            <span><i class="fa-solid fa-user"></i>User Profile</span>
        </div>
        <div class="link-content">
            <span><a href="./dashboard.html">Dashboard</a><i class="fa-solid fa-angle-right"></i>User Profile</span>
        </div>
    </nav>
    <div class="main-container content">
        <div class="content-search">
            <div>
                <h3>User Profile</h3>
            </div>
        </div>

        <div>
            <form enctype="multipart/form-data" method="post" asp-action="EditCustomer">
                <div class="row d-flex justify-content-around m-4">
                    <div class="col-md-3">
                        <div class="p-2 bg-primary text-white text-center">Picture Profile</div>
                        <div class="border">
                            <div class="text-center mt-3">
                                <img style="max-width: 190px;" class="rounded-circle border img-fluid" src="~/img/@customer.img" alt="">
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="form-group border p-1">
                                <input type="file" name="fileImg" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="p-2 bg-primary text-white text-center">User Detail</div>
                        <div class="p-4 border">
                            <div class="form-group">
                                <label for="fullname">Full Name</label>
                                <input type="text" name="fullname" value="@customer.fullName" class="form-control" id="" placeholder="Enter your Full Name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" name="email" value="@customer.email" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="phone number">Phone Number</label>
                                <input type="text" name="phone_number" value="@customer.phone_number" class="form-control" id="" placeholder="Enter Phone Number">
                            </div>
                          @*   <div class="mb-3">
                                <div>
                                    <label for="password">Status Account</label>
                                </div> *@
                                @if (customer.account_status)
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="account_status" id="inlineRadio1" value="active" checked>
                                        <label class="form-check-label" for="inlineRadio1">Active</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="account_status" id="inlineRadio2" value="inactive">
                                        <label class="form-check-label" for="inlineRadio2">In-active</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="account_status" id="inlineRadio1" value="active" checked>
                                        <label class="form-check-label" for="inlineRadio1">Active</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="account_status" id="inlineRadio2" value="inactive">
                                        <label class="form-check-label" for="inlineRadio2">In-active</label>
                                    </div>
                                }
                            </div>
                            <div class="d-flex justify-content-center"><button type="submit" class="btn btn-primary" onclick="submitCustomerProfile()">Submit</button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script>
        function submitAddUserAccount() {
            let text = "Do you want to submit this form?";
            if (confirm(text) == true) {
                alert("your submit successfully");

            } else {
                alert("You canceled!");
            }
        }
    </script>
</body>
