/*CSS Register New Account _ Bui Ngoc Minh Tam*/
body {
    background: linear-gradient(109.6deg, rgb(0, 149, 203) 11.2%, rgb(38, 78, 209) 91.1%);
    user-select: none;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*End CSS Register New Account _ Bui Ngoc Minh Tam*/

/*CSS View Appoiment List _ Nguyen Son Lam*/
.list-appointment__container {
    padding: 40px;
    background-color: white;
}

.list-appointment__header {
    display: flex;
    justify-content: space-between;
}

.list-appointment__title--container {
    margin-top: 50px;
    text-align: center;
}

.list-appointment__item {
    text-align: center;
    padding: 12px 0;
}

.appointment-detail__item {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.appointment-detail__item img {
    width: 50px;
    height: 50px;
    margin-right: 24px;
}

    .appointment-detail__item p {
        margin: 0;
    }

/*End CSS View Appoiment List _ Nguyen Son Lam*/


/*CSS View Work Order List _ Nguyen Son Lam*/
.work-order {
    padding: 20px;
    background-color: #fff;
    border-radius: 14px;
}

.work-order__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.work-order__title {
    padding: 12px 0;
    border-top: 1.5px solid #ccc;
    border-bottom: 1.5px solid #ccc;
    text-align: center;
    font-weight: bold;
}

.work-order__item {
    border-bottom: 1.5px solid #ccc;
    text-align: center;
    padding: 12px 0;
}

.work-order__item--Status span {
    color: white;
    margin: 0 auto;
    padding: 4px 0;
    display: block;
    width: 80%;
    border-radius: 2px;
    background-color: red;
}

.work-order__item--Status.active span {
    background-color: green;
}

.work-order__item--Action {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.work-order__item--Action a {
    width: 45%;
    padding: 2px 0;
    display: block;
    color: #fff;
    border-radius: 2px;
}


.work-order__item--Action a:hover {
    color: #fff;
    text-decoration: none;
}

.work-order__Action--Edit {
    background-color: green;
}

.work-order__Action--Detail {
    background-color: navy;
}
/*End CSS View Work Order List _ Nguyen Son Lam*/



/*CSS Garagemanagement+Service_Hoang Vu Thai*/


.flex-center {
    width: 100%;
}

.profile {
    justify-content: flex-end;
    display: flex;
    padding: 10px 10px 0;
    right: 14px;
}

.avatar {
    padding: 4px;
}

    .avatar img {
        width: 40px;
        border-radius: 50%;
        padding: 4px;
        background-color: #E4EBFE;
    }

.menu-bar {
    display: flex;
    justify-content: left;
    padding: 14px 0;
    left: 32px;
    font-size: 32px;
}

.name {
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

.arrow-down {
    font-size: 16px;
    text-align: center;
    padding: 12px 0px;
    position: relative;
}

.dashboard {
    font-weight: bold;
    font-size: 26px;
    padding-bottom: 20px;
}

.left-box {
    padding: 20px 15px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.text {
    color: #6C757D;
}

.value {
    font-weight: bold;
    font-size: 24px;
}

.right-box {
    text-align: center;
    background-color: #17252c;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 !important;
}

.box-work-order i {
    color: rgb(0, 236, 207);
    font-size: 28px;
    padding-top: 34px;
}

.box-client i {
    color: rgb(255, 91, 91);
    font-size: 28px;
    padding-top: 34px;
}

.box-technician i {
    color: #a9b2b9;
    font-size: 28px;
    padding-top: 34px;
}

.box-earning i {
    color: rgb(9, 204, 6);
    font-size: 28px;
    padding-top: 34px;
}

.side-bar {
    background-color: white;
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    z-index: 1;
    transition-property: left;
    transition: 0.4s ease;
    transition-property: left;
}

    .side-bar .menu .brand {
        padding-top: 10px;
        padding-left: 10px;
    }

.brand img {
    width: 56px;
    padding-bottom: 10px;
}

.side-bar .menu .brand a {
    font-size: 22px;
    color: rgb(44, 44, 44);
    font-weight: lighter;
    text-decoration: none;
    font-weight: bold;
}


.side-bar .menu .item {
    position: relative;
    cursor: pointer;
}

    .side-bar .menu .item i {
        color: rgb(44, 44, 44);
        font-size: 25px;
        padding: 6px;
        padding-left: 28px;
        padding-right: 28px;
    }

    .side-bar .menu .item a {
        color: black;
        scroll-behavior: smooth;
        text-decoration: none;
        font-size: 20px;
        line-height: 60px;
    }

    .side-bar .menu .item:hover {
        background-color: #54c3f7;
        transition: 0.3s ease;
    }

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #4b4949;
    }

.side-bar .menu .item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px 0;
    transition: 0.3s ease;
}

.dropup {
    transition: 0.5s ease;
    position: relative;
    cursor: pointer;
}

.side-bar.active {
    left: 0;
}

.small-menu {
    background-color: white;
    transition: 0.3s ease;
}

    .small-menu:hover {
        background-color: #c0edff;
        transition: 1s;
    }

.side-bar .menu .item .sub-menu {
    background: rgba(255, 255, 255, 0.1);
    display: none;
}

    .side-bar .menu .item .sub-menu a {
        padding-left: 20px;
    }

.sub-item {
    display: block;
    transition: 0.3s ease;
}

.rotate {
    transform: rotate(90deg);
}

.flip {
    transform: rotate(180deg);
    transition: 0.5s;
}

.close-btn {
    color: rgb(44, 44, 44);
    font-size: 20px;
}

.menu-profile {
    position: absolute;
    display: block;
    right: 0;
    width: 160px;
    text-align: left;
    background-color: rgb(236, 248, 253);
    top: 60px;
    padding: 10px;
    z-index: 1;
    border-radius: 10px;
    font-size: 16px;
    visibility: hidden;
    opacity: 0;
}

    .menu-profile.active {
        visibility: visible;
        opacity: 1;
    }

    .menu-profile ul {
        margin: 0;
        padding: 0 20px;
        text-decoration: none;
    }

    .menu-profile a {
        color: #444444;
        text-decoration: none;
        transition: 0.3s;
    }

    .menu-profile li {
        padding: 10px 0;
        list-style: none;
    }

    .menu-profile i {
        padding-right: 20px;
    }

hr {
    margin: 10px;
}

.menu-profile a:hover {
    color: #02afff;
}

.arrow-down :hover {
    color: #02afff;
}

.header-page {
    background-color: white;
    border-radius: 12px;
    padding: 18px;
}

    .header-page a {
        text-decoration: none;
    }

    .header-page i {
        padding: 0 10px;
    }

    .header-page h6 {
        padding: 10px 10px 0;
        margin: 0;
    }

nav a {
    text-decoration: none;
}

nav {
    background-color: white;
    margin: 40px 30px 20px;
    padding: 25px;
    border-radius: 14px;
}

.icon-content i {
    font-size: 24px;
    padding-right: 14px;
}

.icon-content {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}

.link-content i {
    padding: 0 4px;
    font-size: 12px;
}

h3 {
    font-weight: bold;
}

.content {
    background-color: white;
    margin: 30px;
    border-radius: 14px;
}

.content-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    flex: 1;
}

.search-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .search-container form {
        display: flex;
        align-items: center;
    }

    .search-container input[type="text"] {
        padding: 6px 40px 6px 12px;
        font-size: 17px;
        border: 1px solid #ccc;
        border-radius: 20px;
        outline: none;
        position: relative;
    }

    .search-container button {
        padding: 6px 10px;
        background: #72c3fa;
        font-size: 17px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        right: 188px;
    }

        .search-container button:hover {
            background: #008cff;
        }

    .search-container input[type="text"],
    .search-container button {
        margin-top: 0;
    }

.add-service-button {
    margin-left: 18px;
    padding: 8px 10px;
    background-color: #008cff;
    border-radius: 4px;
}

    .add-service-button a {
        color: white;
        text-decoration: none;
    }


.table-services th {
    font-size: 20px;
    border-bottom: 4px solid #5bb3fb;
}

.table-services img {
    width: 80px;
}

.table-services {
    padding: 20px;
    text-align: center;
}

    .table-services th, td {
        padding: 18px;
    }

.services-img {
    padding: 20px;
}

.table-services tr {
    border-bottom: 1px solid #ccc;
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-button a {
    background-color: rgb(25, 167, 25);
    padding: 8px 22px;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 5px;
}

.action-button a {
    color: white;
}

.delete-button button {
    background-color: rgb(216, 27, 27);
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    color: white;
}

.inactive-status {
    background-color: rgb(216, 27, 27);
    padding: 8px;
    border-radius: 4px;
    color: white;
}

.active-status {
    background-color: rgb(0, 145, 12);
    padding: 8px;
    border-radius: 4px;
    color: white;
}

.delete-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    color: black;
    border: 1px solid black;
}

    .delete-message p {
        padding: 16px;
    }

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.confirm-button,
.cancel-button {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.confirm-button {
    background-color: rgb(25, 167, 25);
    color: white;
    margin-right: 10px;
}

.cancel-button {
    background-color: rgb(216, 27, 27);
    color: white;
}

.delete-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    color: black;
    border: 1px solid rgb(168, 168, 168);
}

    .delete-message .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
    }

    .delete-message p {
        padding: 16px;
    }

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.confirm-button,
.cancel-button {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.confirm-button {
    background-color: rgb(25, 167, 25);
    color: white;
    margin-right: 10px;
    border: none;
}

.cancel-button {
    background-color: rgb(216, 27, 27);
    color: white;
    border: none;
}
/*End CSS Garagemanagement+Service_Hoang Vu Thai*/

/*CSS Form for ServiceManagement_Hoang Vu Thai*/


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
}

.header-form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 30px;
}


.center-content {
    flex-grow: 1;
    text-align: center;
}

.upload-name {
    display: flex;
    justify-content: space-around;
    margin: 0 58px;
    padding: 10px 0;
}



    .upload-name input {
        width: 300px;
    }

.upload-image {
    display: flex;
    justify-content: space-around;
    margin: 0 40px;
    padding: 10px 0;
}

    .upload-image label {
        text-align: center;
        padding-top: 4px;
        margin: 0;
    }

    .upload-image input {
        border: 1px solid rgb(105, 105, 105);
        padding: 4px;
        border-radius: 2px;
        font-size: 13px;
        width: 300px;
        margin-left: 10px;
    }

.upload-price {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin: 0 44px;
}

    .upload-price label {
        margin-bottom: 0;
        margin-right: 30px;
    }

    .upload-price input {
        width: 300px;
    }

.upload-description {
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
    padding: 10px 0;
}

    .upload-description label {
        margin: 0;
        text-align: center;
    }

    .upload-description input {
        width: 300px;
    }

.upload-status {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin: 0 38px;
}

    .upload-status label {
        margin: 0;
    }

.active-option {
    margin-left: 10px;
}

.inactive-option {
    margin-right: 90px;
}

.success-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    color: black;
    border: 1px solid black;
}

    .success-message p {
        padding: 16px;
    }

.close-button {
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.btn-close {
    background-color: rgb(216, 27, 27);
    display: inline;
    padding: 6px 12px 8px;
    border-radius: 4px;
}

.btn-submit {
    text-align: center;
}
/*End CSS Form for ServiceManagement_Hoang Vu Thai*/

/*CSS List Of Team Members_Bui Chau Sao*/

.table-user-account- th {
    font-size: 20px;
    border-bottom: 4px solid #5bb3fb;
}

.table-user-account {
    padding: 20px;
    text-align: center;
}

    .table-user-account th, td {
        padding: 18px;
    }

    .table-user-account tr {
        border-bottom: 1px solid #ccc;
    }

    .table-user-account .inactive-status {
        background-color: rgb(216, 27, 27);
        padding: 8px;
        border-radius: 4px;
        color: white;
    }

    .table-user-account .active-status {
        background-color: rgb(0, 145, 12);
        padding: 8px;
        border-radius: 4px;
        color: white;
    }

.add-member-account-button {
    margin-left: 18px;
    padding: 8px 10px;
    background-color: #008cff;
    border-radius: 4px;
}

    .add-member-account-button a {
        color: white;
        text-decoration: none;
    }
