/*CSS View Appoiment List _ Nguyen Son Lam*/
.list-appointment__container {
    padding: 40px;
    background-color: white;
}

.list-appointment__header {
    display: flex;
    justify-content: space-between;
}

.list-appointment__title--container {
    margin-top: 50px;
    text-align: center;
}

.list-appointment__item {
    text-align: center;
    padding: 12px 0;
}

.appointment-detail__item {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

    .appointment-detail__item img {
        width: 50px;
        height: 50px;
        margin-right: 24px;
    }

    .appointment-detail__item p {
        margin: 0;
    }

/*End CSS View Appoiment List _ Nguyen Son Lam*/



/*CSS Garagemanagement+Service_Hoang Vu Thai*/
.add-service-button {
    margin-left: 18px;
    padding: 8px 10px;
    background-color: #008cff;
    border-radius: 4px;
}

    .add-service-button a {
        color: white;
        text-decoration: none;
    }

.table-services th {
    font-size: 20px;
    border-bottom: 4px solid #5bb3fb;
}

.table-services img {
    width: 80px;
}

.table-services {
    padding: 20px;
    text-align: center;
}

    .table-services th, td {
        padding: 18px;
    }

.services-img {
    padding: 20px;
}

.table-services tr {
    border-bottom: 1px solid #ccc;
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-button a {
    background-color: rgb(25, 167, 25);
    padding: 8px 22px;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 5px;
}

.action-button a {
    color: white;
}

.delete-button button {
    background-color: rgb(216, 27, 27);
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    color: white;
}

.inactive-status {
    background-color: rgb(216, 27, 27);
    padding: 8px;
    border-radius: 4px;
    color: white;
}

.active-status {
    background-color: rgb(0, 145, 12);
    padding: 8px;
    border-radius: 4px;
    color: white;
}
/*End CSS Garagemanagement+Service_Hoang Vu Thai*/



/*CSS List Of Team Members_Bui Chau Sao*/

    .table-user-account- th {
    font-size: 20px;
    border-bottom: 4px solid #5bb3fb;
    }

    .table-user-account {
    padding: 20px;
    text-align: center;
    }

    .table-user-account th, td {
        padding: 18px;
    }

    .table-user-account tr {
        border-bottom: 1px solid #ccc;
    }

    .table-user-account .inactive-status {
        background-color: rgb(216, 27, 27);
        padding: 8px;
        border-radius: 4px;
        color: white;
    }

    .table-user-account .active-status {
        background-color: rgb(0, 145, 12);
        padding: 8px;
        border-radius: 4px;
        color: white;
    }

.add-member-account-button {
    margin-left: 18px;
    padding: 8px 10px;
    background-color: #008cff;
    border-radius: 4px;
}

.add-member-account-button a {
        color: white;
        text-decoration: none;
 }


/*CSS Form Team Management_Tu Quoc Phat*/
.add-team-button {
    margin-left: 18px;
    padding: 8px 10px;
    background-color: #008cff;
    border-radius: 4px;
}

    .add-team-button a {
        color: white;
        text-decoration: none;
    }

.table-team-management {
    border: 2px solid #ccc;
}

    .table-team-management .ateam h4 {
        text-align: center;
        font-weight: bold;
        /* background-color: #1ba2fc;
    color: white; */
    }

.table-team-management {
    padding: 20px;
    text-align: center;
    margin: 0 280px;
}

    .table-team-management th, td {
        padding: 8px;
        text-align: center;
    }

    .table-team-management th {
        font-size: 18px;
    }

    .table-team-management td {
        font-size: 16px;
    }


    .table-team-management tr {
        border-bottom: 1px solid #ccc;
    }

    .table-team-management .action-button-team {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .table-team-management .edit-button-team a {
        background-color: rgb(25, 167, 25);
        padding: 8px 22px;
        border-radius: 4px;
        text-decoration: none;
        margin: 0 5px;
    }

    .table-team-management .action-button-team a {
        color: white;
    }

    .table-team-management .delete-button-team button {
        background-color: rgb(216, 27, 27);
        padding: 8px 12px;
        border-radius: 4px;
        text-decoration: none;
        border: none;
        color: white;
    }
/*End CSS Form Team Management_Tu Quoc Phat*/
