
/*CSS View Appoiment List _ Nguyen Son Lam*/
.list-appointment__container{
  padding: 40px;
  background-color: white;
}

.list-appointment__header{
  display: flex;
  justify-content: space-between;
}

.list-appointment__title--container{
  margin-top: 50px;
  text-align: center;
}

.list-appointment__item{
  text-align: center;
  padding: 12px 0;
}

.appointment-detail__item{
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.appointment-detail__item img{
  width: 50px;
  height: 50px;
  margin-right: 24px;
}

.appointment-detail__item p{
  margin: 0;
}

/*End CSS View Appoiment List _ Nguyen Son Lam*/



/*CSS View Appoiment List _ Nguyen Son Lam*/

