body {
    background: linear-gradient(109.6deg, rgb(0, 149, 203) 11.2%, rgb(38, 78, 209) 91.1%);
    user-select: none;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-form {
    display: flex;
    width: 100%;
    align-items: center;
}

/*CSS Form for ServiceManagement_Hoang Vu Thai*/


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
}

.header-form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 30px;
}


.center-content {
    flex-grow: 1;
    text-align: center;
}

.upload-name {
    display: flex;
    justify-content: space-around;
    margin: 0 58px;
    padding: 10px 0;
}

    .upload-name input {
        width: 300px;
    }

.upload-image {
    display: flex;
    justify-content: space-around;
    margin: 0 40px;
    padding: 10px 0;
}

    .upload-image label {
        text-align: center;
        padding-top: 4px;
        margin: 0;
    }

    .upload-image input {
        border: 1px solid rgb(105, 105, 105);
        padding: 4px;
        border-radius: 2px;
        font-size: 13px;
        width: 300px;
        margin-left: 10px;
    }

.upload-price {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin: 0 44px;
}

    .upload-price label {
        margin-bottom: 0;
        margin-right: 30px;
    }

    .upload-price input {
        width: 300px;
    }

.upload-description {
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
    padding: 10px 0;
}

    .upload-description label {
        margin: 0;
        text-align: center;
    }

    .upload-description input {
        width: 300px;
    }

.upload-status {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin: 0 38px;
}

    .upload-status label {
        margin: 0;
    }

.active-option {
    margin-left: 10px;
}

.inactive-option {
    margin-right: 90px;
}

.success-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    color: black;
    border: 1px solid black;
}

    .success-message p {
        padding: 16px;
    }

.close-button {
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.btn-close {
    background-color: rgb(216, 27, 27);
    display: inline;
    padding: 6px 12px 8px;
    border-radius: 4px;
}

.btn-submit {
    text-align: center;
}
/*End CSS Form for ServiceManagement_Hoang Vu Thai*/

