
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <form action="" class="centered-form">
        <div class="header-form">
            <div class="left-element">
                <a href="listofservices" class="back-link"><i class="fa-solid fa-chevron-left"></i></a>
            </div>
            <div class="center-content">
                <h3>Add Services</h3>
            </div>
        </div>
        <div class="input-form">
            <div class="upload-name">
                <label>Service name</label>
                <input type="text" />
            </div>
            <div class="upload-image">
                <label>Image</label>
                <input type="file" class="upload-box" />
            </div>
            <div class="upload-price">
                <label>Price</label>
                <input type="text" />
            </div>
            <div class="upload-description">
                <label>Description</label>
                <textarea rows="5" cols="38"></textarea>
            </div>
            <div class="upload-status">
                <label>Status</label>
                <div class="active-option">
                    <input type="radio" id="choice1" name="choice" value="creative" checked>
                    <label for="choice1">Active</label>
                </div>
                <div class="inactive-option">
                    <input type="radio" id="choice2" name="choice" value="productive">
                    <label for="choice2">In-active</label>
                </div>


            </div>
        </div>
        <div class="btn-submit"><input type="submit" value="Submit"></div>
    </form>
</div>
<div class="success-message" style="display: none;">
    <p>Form submitted successfully</p>
    <div class="btn-close">
        <span class="close-button">Close</span>
    </div>

