
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="main-container">
    <div class="group-box row">
        <div class="col-md-3 box-work-order">
            <div class="row px-3">
                <div class="left-box col-md-9">
                    <div class="value">75</div>
                    <div class="text">Work Order</div>
                </div>
                <div class="right-box col-md-3"><i class="fa-solid fa-bars-progress"></i></div>
            </div>

        </div>
        <div class="col-md-3 box-client">
            <div class="row px-3">
                <div class="left-box col-md-9">
                    <div class="value">221</div>
                    <div class="text">Client</div>
                </div>
                <div class="right-box col-md-3"><i class="fa-solid fa-user-tie"></i></div>
            </div>

        </div>
        <div class="col-md-3 box-technician">
            <div class="row px-3">
                <div class="left-box col-md-9">
                    <div class="value">10</div>
                    <div class="text">Technician</div>

                </div>
                <div class="right-box col-md-3"><i class="fa-solid fa-wrench"></i></div>
            </div>


        </div>
        <div class="col-md-3 box-earning">
            <div class="row px-3">
                <div class="left-box col-md-9">
                    <div class="value">50,000.00</div>
                    <div class="text">Earning</div>
                </div>
                <div class="right-box col-md-3">
                    <i class="fa-solid fa-money-bill"></i>
                </div>
            </div>

        </div>


    </div>

</div>

