@model String;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>test nhung dinh hon</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/core.css">
    <link rel="stylesheet" type="text/css" href="~/css/icon-font.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body class="login-page">
    <h1>@ViewBag.Msg</h1>
    <div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="login-box bg-white box-shadow border-radius-10">
                        <form id="login" method="post">
                            <div class="input-group custom">
                                <lable for="user-name"></lable>
                                <input autofocus autocomplete="off" id="user-name" type="text" name="userName" class="form-control form-control-lg" placeholder="Username">
                            </div>
                            <div class="input-group custom">
                                <lable for="password"></lable>
                                <input autocomplete="off" type="password" id="password" name="password" class="form-control form-control-lg" placeholder="**********">
                            </div>
                            <div class="row pb-30">
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Remember</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="forgot-password"><a href="ResetPassword">Forgot Password</a></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group mb-0">
                                        <!--
                                            use code for form submit
                                            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign In">
                                        -->
                                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Login" />
                                    </div>
                                    <div class="font-16 weight-600 pt-10 pb-10 text-center" data-color="#707373">OR</div>
                                    <div class="input-group mb-0">
                                        <a class="btn btn-outline-primary btn-lg btn-block" href="/Home/register">Register To Create Account</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- js -->
    <script src="~/vendors/scripts/core.js"></script>
    <script src="~/vendors/scripts/script.min.js"></script>
    <script src="~/vendors/scripts/process.js"></script>
    <script src="~/vendors/scripts/layout-settings.js"></script>

    <div>
        <style>
            label.error {
                color: red;
                width: 100%;
                text-align: left;
                padding-left: 4px;
                display: block;
                padding-top: 5px;
            }
        </style>
    </div>

    <script src="~/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.min.js"></script>
    <script src="~/js/validateForm.js"></script>
</body>
</html>