@using SWP_CarService_Final.Services;
@using SWP_CarService_Final.Models;
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    TaskService taskService = new TaskService();
    SWP_CarService_Final.Models.Task task = taskService.GetTaskByID(ViewBag.ServiceId);
}
<div class="container">
    <form asp-action="EditService" class="centered-form" enctype="multipart/form-data" method="post">
        <div class="header-form">
            <div class="left-element">
                <a href="listofservices" class="back-link"><i class="fa-solid fa-chevron-left"></i></a>
            </div>
            <div class="center-content">
                <h3>Edit Services</h3>
            </div>
        </div>
        <div class="input-form">
            <div class="upload-name">
                <input type="hidden" value="@task.taskID" name="ServiceId" />

                <label>Service name</label>
                <input type="text" value="@task.taskName.Trim()" name="ServiceName" />
            </div>
            <div class="upload-image">
                <label>Image</label>
                <input type="file" class="upload-box" name="fileImg" />
            </div>
            <div class="upload-price">
                <label>Price</label>
                <input type="text" value="@task.price" name="Price" />
            </div>
            <div class="upload-description">
                <label>Description</label>
                <textarea rows="5" cols="38" name="description">@task.Description.Trim()</textarea>
            </div>
            <div class="upload-status">
                <label>Status</label>
                @if (task.active)
                {
                    <div class="active-option">
                        <input type="radio" id="choice1" name="choice" value="active" checked>
                        <label for="choice1">Active</label>
                    </div>
                    <div class="inactive-option">
                        <input type="radio" id="choice2" name="choice" value="In-active">
                        <label for="choice2">In-active</label>
                    </div>
                }
                else
                {
                    <div class="active-option">
                        <input type="radio" id="choice1" name="choice" value="active">
                        <label for="choice1">Active</label>
                    </div>
                    <div class="inactive-option">
                        <input type="radio" id="choice2" name="choice" value="In-active" checked>
                        <label for="choice2">In-active</label>
                    </div>
                }
            </div>
            
        </div>
        <div class="btn-submit"><input type="submit" value="Submit"></div>
    </form>
</div>
<div class="success-message" style="display: none;">
    <p>Form submitted successfully</p>
    <div class="btn-close">
        <span class="close-button">Close</span>
    </div>
</div>



